.center {
    text-align: center;
}

.mr-20 {
    margin: 20px;
}

.mainNav {
    align-items: center;
    background-color: #005AB5;
    color: #FCFCFC;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
}

.navLink {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 40%;
}

.linkStyle {
    color: #FCFCFC;
}

.linkStyle :hover{
    color: #FFD306;
}

.card {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #BEBEBE;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    padding: 10px;
    box-shadow:  3px 5px #D0D0D0;
}
}

.bank {
    flex-direction: row;
}